APP_NAME=ii_factory
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120

VK_CLIENT_ID=
VK_CLIENT_SECRET=
VK_REDIRECT_URI=http://localhost:8000/auth/vk/callback
